In [ ]:
print("welcome to codeswithpankaj")
print(9786756)
print("my number is = ",77867)

In [ ]:
name = "joy"
print("My name is ",name)

In [ ]:
name = "joy"
age = 23
height = 4.5

print("my name is ",name)
print("My Age is ",age)
print("My Height is : ",height)

In [ ]:
number1 = 900
number2 = 678

result = number1 + number2
print(result)

In [ ]:
print("hello world")
number1=2
answer = number1 + number1
print("2 + 2 =",answer)

In [5]:
name = "Aashil" 
age = "22"
college = "RGIT" 
number1 = 200
number2 = 539
number3 = 387
number4 = 100

result1 = number1 - number3
result2 = number3 * number4
result3 = number2 + number2
result4 = number4 / number1

print("My name is",name)
print("My age is",age)
print("My college name is",college)
print("200 - 387 =",result1)
print("387 * 100 =",result2)
print("539 + 539 =",result3)
print("100 / 200 =",result4)

My name is Aashil
My age is 22
My college name is RGIT
200 - 387 = -187
387 * 100 = 38700
539 + 539 = 1078
100 / 200 = 0.5

In [33]:
                                                #data types

In [39]:
price = 10.9
print(type(price))


age = 20
print(type(age))

brand = ["apple" , "samsaung" , "olg" , "lenova"]
print(type(brand))

num = 1 - 7j
print(type(num))

name = "Aashil"
print (type(name)) 

vaild = True
print(type(vaild))
 
not_valid = False 
print(type((not_valid)))

number = (60 , 30 ,50)
print(type(number))

number1 = {30, 25 , 39 , 78}
print(type(number1)) 

user = {"name": "Aashil", "age": 22}
print(type(user))

<class 'float'>
<class 'int'>
<class 'list'>
<class 'complex'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'tuple'>
<class 'set'>
<class 'dict'>